.middleContainer{
    display:flex;

}
header{
    text-align: center;
    background: rgb(195,223,255);
    background: radial-gradient(circle, rgba(195,223,255,1) 0%, rgba(255,203,226,1) 100%);
    padding: 10px;
}
footer{
    text-align: center;
    background: rgb(195,223,255);
    background: radial-gradient(circle, rgba(195,223,255,1) 0%, rgba(255,203,226,1) 100%);
    padding: 20px;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin: 0;
    padding: 0;
}
section{
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(191,244,255,1) 0%, rgba(252,255,206,1) 100%);
}

.btnSection{
    border: 2px solid black;
    flex: .5 .5 5rem;
    padding: 20px;
    margin:20px;
}
button{
    display: block;
    width: 100%;
}
.retrieveBtn{
    margin-bottom: 20px;
    background-color: rgb(212, 255, 204);
    border: 2px solid black;
}
.retrieveBtn:hover{
    background-color: rgb(164, 255, 161);
}


.textSection{
    border: 2px solid black;
    flex: 1 1 5rem;
    padding: 20px;
    margin:20px;
}
.imageSection{
    border: 2px solid black;
    flex: 1 1 5rem;
    padding: 20px;
    margin:20px;
}
.photoImage{
    width:100%;
    border: 2px solid black;
}
